{{- $constitution := .Site.Params.constitution }}
<section class="section section-feature-grey is-small">
<h3 id="holons">Holons:</h3>

<p>A holon is a grouping of similar function within a Mezo system.</p>

<p>Citizens may go to any holon they choose, and movement between holons is allowed at any time.</p>

<p>There are two types of holon. A standing holon is a holon that is permanent and the basis the creation and definition of a special holon. A special holon is a holon that combines aspects from multiple standing holons.</p>

<p>Aside from the founding standing holons, new standing holons can only be formed with 90% Mezono consensus.</p>

<p>A standing holon can be removed given at least 90% Mezono consensus within said standing holon and at least an 90% consensus amongst all Mezonos.</p>

<p>Anyone can create and join a special holon at any time.</p>

<p>Special holons cease to exist when no citizens reside in them.</p>

<p>A citizen in a special holon is considered to be (1/(number of standing holons the special holon is comprised of)) of a citizen within each holon the special holon is comprised of.</p>

<p>Labor can not be forced in or between holons.</p>

<p>Trade of services is allowed within holons.</p>

<p>Trade of goods is not allowed within holons.</p>

<p>Trade is not allowed between holons.</p>

<p>Trade is not allowed between holons and another institution.</p>

<h3 id="mezonos">Mezonos</h3>

<p>Criteria | Information
------------ | -------------
Name | Mezono
Value | 1 Munit
Symbol | Ƶ
Abbreviation | MZO</p>

<p>Interaction with the resource pool is facilitated with Mezonos.</p>

<p>Mezonos can not be transferred between citizens/organizations.</p>

<p>Citizens/Organizations can not own private property.</p>

<p>When a citizen moves holons the Mezonos associated with that holon do not move with the citizen. The Mezonos are then redistributed amongst the citizens of the holon.</p>

<p>When a citizen moves holons the resources associated with that holon do not move with the citizen, resources are then returned to the resource pool.</p>

<p>Mezonos represent shares in voting.</p>

<p>One Mezono can be exchanged for one Munit.</p>

<p>Mezonos are distributed to standing holons only. <Prevents Mezono manipulation that would occur by a person creating a special Holon with one member and having it receive an enormous amount of tokens.></p>

<p>The more citizens a standing holon has the less Mezonos the holon will receive.</p>

<p>The less citizens a standing holon has the more Mezonos the holon will receive.</p>

<p>A standing holon’s Mezonos are divided equally amongst all full citizens of a standing holon. Partial citizens who are in a special holon receive </p>

<p>((the amount a full citizen within a standing holon connected to the special holon receives)/(number of standing holons the special holon is comprised of))</p>

<p>from each standing holon their special holon is comprised of.</p>

<p>The minimum number of Mezonos in a Mezo system must be equal to the number of citizens within that Mezo system.</p>

<h3 id="tokenaccounting">Token Accounting</h3>

<p>Every citizen has a “allocation”, a “balance”, and an “amount spent”.</p>

<p>The allocation of a citizen is the amount of Mezonos a Mezo system allocates to a person on the assumption that they have not spent any Mezonos.</p>

<p>The amount spent of a citizen is the number of Mezonos they have spent.</p>

<p>The balance of a citizen is the current amount of Mezonos a citizen has. It is equal to the allocation amount minus the amount spent.</p>

<p>Mezono balance can never be below zero. This means a citizen may not move to a different holon if the new holon would allocate less than the amount the citizen has spent.</p>

<h3 id="organizations">Organizations</h3>

<h3 id="knowledgepool">Knowledge Pool</h3>

<p>All knowledge, digital files, and nonphysical/intangible objects go to the knowledge pool which are available to everyone regardless of which Mezo system they are a part of.</p>

<p>Mezo does not allow for intellectual property.</p>

<h3 id="resourcepool">Resource Pool</h3>

<p>The resource pool is distributed and decentralized, everything in it has an ID and a value proportional to the input costs of a Munit.</p>

<p>When an entity finishes the production of a good and gives it to the resource pool, and another entity exchanges Mezonos for that good, those Mezonos will be given to the entity who created that good. The value of the good is the sum of the value of the resources that went into the production of the good.</p>

<p>All standing holons must receive resources from the resource pool.</p>

<h3 id="metamezo">Meta Mezo</h3>

<p>If multiple Mezo systems allocate resources with the approximately the same proportions for an extended amount of time and those Mezo systems have more than 80% Mezono consensus to merge, those Mezo systems will merge into one Mezo system. (How is this similarity mathematically measured)</p>

<p>Mezo Systems must communicate with one another to send and receive proportion data as well as a collective list of citizens within their individual systems.</p>

<p>This collection of Mezo Systems is Meta Mezo.</p>

<p>Once a person becomes of a citizen of a particular Mezo system, that citizen can not move to a different Mezo system.</p>

<h3 id="foreigntrade">Foreign Trade</h3>

<p>Anyone can submit a trade proposal for an asset at a rate of exchange and quantity.</p>

<p>If 75% Mezono agreement is reached in regard to allowing trade of an asset with a foreign institution at a rate and quantity defined by the trade proposal, he resource pool may trade that asset with a foreign institution at the rate and quantity defined by the trade proposal until a later proposal. Otherwise the proposal will not be put into effect.</p>

<h3 id="judicialholon">Judicial Holon</h3>

<p>Any citizen or entity can present a case to the Judicial Holon.</p>

<p>Mezo practices polycentric law. Citizens may follow the law of the nation they reside in as long as they follow the laws of Mezo as well. In all cases the Mezo Constitution and MEZOL supercede all other systems of law.</p>

<p>A Judicial Holon verdict may only be put into effect on a case in which a party is explicitly physically or financially involved by the actions of another party. The only exception to this rule, is that a member of the Military Holon may present a case to the Judicial Holon and allow for a Judicial Holon verdict to be put into effect on a case, whether or not the military holon member is explicitly, physically, or, financially involved by the actions of another party.</p>

<p>Judicial Holon verdicts are based on the Mezo Constitution and MEZOL 1.0 (2018).</p>

<p>A guilty verdict will result in the guilty person’s tokens being frozen.</p>

<p>A guilty verdict can be repealed after sufficient unfunded contribution to society. Whether the actions are sufficient enough to warrant repealing of a guilty verdict will be determined by the judicial holon. <Failure to repeal will most likely lead to the person choosing to leave Meta Mezo.></p>

<p>Verdicts will be reached given at least 75% agreement of Mezonos from the judges involved in the case.</p>

<h3 id="militaryholon">Military Holon</h3>

<p>Enforces verdict as determined  by Judicial Holon. <This means that the Military Holon does not enforce the Mezo Constitution nor does it enforce MEZOL. It may only enforce Judicial Holon verdicts. This prevents preemptive military action.></p>

<p>If 75% or more of non Military Holon Mezonos agree to allow interaction with a foreign institution, the military will be allowed to interact. Otherwise it will not be able to interact.</p>

<p>If 75% or more of non Military Holon Mezonos agree to end foreign interaction or that the Military Holon is violating the Mezo constitution/MEZOL, Military Holon Mezonos will be frozen until a later proposal.</p>

<p>If 75% or more of non Military Holon tokens agree to unfreeze Military Holon Mezonos, Military Holon Mezonos will be unfrozen.</p>

<h3 id="definingmunit">Defining Munit</h3>

<p>As a holon produces a good to the extent to which it can be implemented to at least 80% of the population it will be added to the definition of a Munit upon 80% or more Mezono agreement.</p>

<p>Upon at least 80% Mezono agreement a good will be removed from the definition of a Munit.</p>

<h3 id="protocolforidentification">Protocol for Identification</h3>

<p>https://docs.google.com/document/d/1No3kQf-O4x9b4OfiE0ZbeYfRIw_iiS8CSmgQvVNJFjw/edit?usp=sharing
CHANGE THIS</p>

<p>Standing Holons | Description
------------ | -------------
Art |
Construction | The architects and builders.
Communication | Also responsible for maintaining Swarm/ETH. All units should include a node (not everyone needs to be a miner?)
Energy | Electricty and Electrical Infastructure
Judicial | Already Outlined
Military | Already Outlined
Education |
Reserve | For automating the reserve pool. Holon's top priority is to disappear. Should add provision for automatic dissolution.
Food |
Materials | Basic Materials
Health | People's physical and mental well being
Industrials | aerospace and defense, industrial machinery, tools, lumber production, construction, waste management, manufactured housing, cement and metal fabrication. Machinery.
Transportation | Airplanes, Marine transport, Road &amp; Rail, Distributors, Transportation Infrastructure
Munit Holon | Responsible for the production of goods in a Munit, where it is not being produced enough by other holons.</p>
</section>
